{% extends "AppBundle:Layaout:base.html.twig" %}

{% block body %}
    <h1>Product edit</h1>

    {{ form_start(edit_form, {attr: {novalidate: 'novalidate', class: 'form-horizontal'}}) }}

        <div class="form-group">
            {{ form_label(edit_form.name) }}
            <div class="col-sm-10">
                {{ form_widget(edit_form.name) }}
                {{ form_errors(edit_form.name) }}
            </div>
        </div>
        <br><br>
        <div class="form-group">
            {{ form_label(edit_form.price) }}
            <div class="col-sm-10">
                {{ form_widget(edit_form.price) }}
                {{ form_errors(edit_form.price) }}
            </div>
        </div>
        <br><br>
        <div class="form-group">
            {{ form_label(edit_form.qte) }}
            <div class="col-sm-10">
                {{ form_widget(edit_form.qte) }}
                {{ form_errors(edit_form.qte) }}
            </div>
        </div>
        <br><br>
        <div class="form-group">
            {{ form_label(edit_form.categorie) }}
            <div class="col-sm-10">
                {{ form_widget(edit_form.categorie) }}
                {{ form_errors(edit_form.categorie) }}
            </div>
        </div>
        <br><br>
        <div class="form-group">
            {{ form_label(edit_form.test) }}
            <div class="col-sm-10">
                {{ form_widget(edit_form.test) }}
                {{ form_errors(edit_form.test) }}
            </div>
        </div>
        <br><br>
        {{ form_widget(edit_form._token) }}
        <div class="form-group">
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input class="btn btn-success" type="submit" value="Ajouter" />
            {{ form_end(edit_form) }}
            <a class="btn btn-info" href="{{ path('product_index') }}">Annuler</a>

            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </div>
    </form>



{% endblock %}
